<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <link rel="stylesheet" href="../static/assets/css/mediaqueries.css" />
  </head>
  <body>
    <nav id="desktop-nav">
      <div class="logo">PawsitiveCare</div>
      <div>
        <ul class="nav-links">
          <li><a href="./pages/sign.html">Sign In</a></li>
        </ul>
      </div>
    </nav>
    <nav id="hamburger-nav">
      <div class="logo"></div>
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a href="#about" onclick="toggleMenu()">About</a></li>
          <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
          <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
          <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
      </div>
    </nav>
    <section id="profile">
      <div class="section__pic-container">
        <img src="../static/assets/images/IMG_5281.PNG" alt="pet picture" />
      </div>
      <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">Dr. Whisker,</h1>
        <p class="section__text__p2">your virtual veterinary assistant</p>
        <div class="btn-container">
          <button
            class="btn btn-color-2"
            onclick="location.href='pet_id.html'"
          >
            Pet ID
          </button>
          <button class="btn btn-color-1" onclick="location.href='/chat'">
            Virtual Vet
          </button>
        </div>
      </div>
    </section>
    <section id="about">
      <p class="section__text__p1">Get To Know More</p>
      <h1 class="title">About Me</h1>
      <div class="section-container">
        <div class="section__pic-container">
          <img
            src="../static/assets/images/IMG_8446.JPG"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container">
          </div>
        </div>
      </div>
    </section>
    <footer>
      <p>Copyright &#169; 2024 PawsitiveCare. All Rights Reserved.</p>
    </footer>
    <script src="../static/assets/js/script.js"></script>
  </body>
</html>
